<h1>Restaurants</h1>
<ul class="restaurants unstyled">
    <% @restaurants.each do |restaurant| %>
      <li class='restaurant'><%= restaurant['venue']['name'] %> - <%= restaurant['venue']['rating'] %></li>
    <% end %>
</ul>
