<h1>Restaurants</h1>
<ul class="restaurants unstyled">
    <% @restaurants.each do |restaurant| %>
      <li class='restaurant'>
        <%= link_to restaurant['venue']['name'],
                    restaurant_path('menu',
                                    name: restaurant['venue']['name'],
                                    lat: restaurant['venue']['location']['lat'],
                                    lng: restaurant['venue']['location']['lng']) %>
        - <%= restaurant['venue']['rating'] %></li>
    <% end %>
</ul>
<% if params[:page].to_i > 0 %>
    <%= link_to 'Previous', restaurants_path(lat: params[:lat], lng: params[:lng], page: params[:page].to_i - 1) %>
<% end %>
<%= link_to 'Next', restaurants_path(lat: params[:lat], lng: params[:lng], page: params[:page].to_i + 1) %>
