// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    background-color: #dde5e7;
    color: #3e3e3e;
}

.restaurant-title {
    text-align: center;
}

.restaurant {
    width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: #ffffff;

    .top-right {
        float: right;
        text-align: center;

        .rating {
            background-color: #00bbf1;
            color: white;
            font-size: 20px;
            font-weight: bold;
            padding: 20px;
        }
    }

    h2 {
        padding: 30px 10px 10px 30px;
        margin: 0;
        font-size: 32px;
        font-weight: normal;
        line-height: 25px;
    }

    h3 {
        font-size: 16px;
        color: #d2d2d2;
        font-weight: normal;
        padding-left: 30px;
        line-height: 20px;
        margin: 0;
    }

    .category {
        color: #ff752a;
    }

    .friends {
        color: #d2d2d2;
        padding: 20px 0 10px 30px;
    }

    .menu-link {
        display: block;
        color: #3e3e3e;
        text-decoration: none;
        font-size: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
        border-top: 1px solid #f1f1f1;
    }
}

@media (max-width: 500px) {
    .restaurant {
        width: 100%;

        h2 {
            font-size: 25px;
        }
    }
}